<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/timeoutError.js"></script>
  <script src="/timeoutSuccess.js"></script>
  <title></title>
</head>
<div id="page-wrap">
<body>
  {{{body}}}
</body>
</div>

</html>

